# Visualizing DBT Pipeline Outputs in Jupyter Notebook
This notebook demonstrates how to connect to a PostgreSQL database and visualize the outputs of a DBT pipeline.

In [4]:
!pip install sqlalchemy matplotlib seaborn
!pip install psycopg2-binary
!pip install matplotlib
import matplotlib
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine

# PostgreSQL connection string from DBT example
db_connection_url = "postgresql://u5h2s7shhkqeo5:pf373bc6d5cddc47f95a938f4914e895c868ca1e01fc5eeb79ad7413b71c6db40@c97r84s7psuajm.cluster-czrs8kj4isg7.us-east-1.rds.amazonaws.com:5432/d9snqvovhsjpqs"

# Create SQLAlchemy engine
engine = create_engine(db_connection_url)

# Test connection and list the tables
tables = pd.read_sql("SELECT table_name FROM information_schema.tables WHERE table_schema='public'", engine)
tables

Requirement already satisfied: sqlalchemy in /Users/tyler/.pyenv/versions/3.12.4/lib/python3.12/site-packages (2.0.35)
Requirement already satisfied: matplotlib in /Users/tyler/.pyenv/versions/3.12.4/lib/python3.12/site-packages (3.9.2)
Requirement already satisfied: seaborn in /Users/tyler/.pyenv/versions/3.12.4/lib/python3.12/site-packages (0.13.2)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/tyler/.pyenv/versions/3.12.4/lib/python3.12/site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: contourpy>=1.0.1 in /Users/tyler/.pyenv/versions/3.12.4/lib/python3.12/site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /Users/tyler/.pyenv/versions/3.12.4/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/tyler/.pyenv/versions/3.12.4/lib/python3.12/site-packages (from matplotlib) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/tyler/.pyenv/versions/3.12.4/lib/python3.12/site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy>=1.23 in /Users/tyler/.pyenv/versions/3.12.4/lib/python3.12/site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /Users/tyler/.pyenv/versions/3.12.4/lib/python3.12/site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in /Users/tyler/.pyenv/versions/3.12.4/lib/python3.12/site-packages (from matplotlib) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/tyler/.pyenv/versions/3.12.4/lib/python3.12/site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /Users/tyler/.pyenv/versions/3.12.4/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: pandas>=1.2 in /Users/tyler/.pyenv/versions/3.12.4/lib/python3.12/site-packages (from seaborn) (2.2.3)
Requirement already satisfied: pytz>=2020.1 in /Users/tyler/.pyenv/versions/3.12.4/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/tyler/.pyenv/versions/3.12.4/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/tyler/.pyenv/versions/3.12.4/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: psycopg2-binary in /Users/tyler/.pyenv/versions/3.12.4/lib/python3.12/site-packages (2.9.10)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: matplotlib in /Users/tyler/.pyenv/versions/3.12.4/lib/python3.12/site-packages (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in /Users/tyler/.pyenv/versions/3.12.4/lib/python3.12/site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /Users/tyler/.pyenv/versions/3.12.4/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/tyler/.pyenv/versions/3.12.4/lib/python3.12/site-packages (from matplotlib) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/tyler/.pyenv/versions/3.12.4/lib/python3.12/site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy>=1.23 in /Users/tyler/.pyenv/versions/3.12.4/lib/python3.12/site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /Users/tyler/.pyenv/versions/3.12.4/lib/python3.12/site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in /Users/tyler/.pyenv/versions/3.12.4/lib/python3.12/site-packages (from matplotlib) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/tyler/.pyenv/versions/3.12.4/lib/python3.12/site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /Users/tyler/.pyenv/versions/3.12.4/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /Users/tyler/.pyenv/versions/3.12.4/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: pip install --upgrade pip

ModuleNotFoundError: No module named 'matplotlib'

## Query and Visualize Data

In [17]:
# Query sales data
sales_query = '''
SELECT order_date, SUM(total_price) as total_revenue, COUNT(order_id) as total_orders
FROM stg_sales
GROUP BY order_date
ORDER BY order_date;
'''
sales_data = pd.read_sql(sales_query, engine)

# Display the first few rows
sales_data.head()

   order_date  total_revenue  total_orders
0  2024-01-01         924.09             1
1  2024-01-02        1796.18             4
2  2024-01-03        1339.16             2
3  2024-01-04         864.34             2
4  2024-01-05        2662.02             4

In [3]:
# Set plot size
plt.figure(figsize=(10, 6))

# Plot total revenue over time
sns.lineplot(data=sales_data, x='order_date', y='total_revenue', marker='o')

# Add labels and title
plt.title('Total Revenue Over Time')
plt.xlabel('Order Date')
plt.ylabel('Total Revenue ($)')
plt.xticks(rotation=45)

# Show the plot
plt.tight_layout()
plt.show()

NameError: name 'plt' is not defined

In [2]:
# Plot total orders over time
plt.figure(figsize=(10, 6))

sns.lineplot(data=sales_data, x='order_date', y='total_orders', marker='o', color='green')

# Add labels and title
plt.title('Total Orders Over Time')
plt.xlabel('Order Date')
plt.ylabel('Total Orders')
plt.xticks(rotation=45)

plt.tight_layout()
plt.show()

NameError: name 'plt' is not defined

In [ ]:
# Query top products by revenue
product_query = '''
SELECT p.product_name, SUM(s.total_price) as total_revenue
FROM stg_sales s
JOIN stg_products p ON s.product_id = p.product_id
GROUP BY p.product_name
ORDER BY total_revenue DESC
LIMIT 10;
'''
product_data = pd.read_sql(product_query, engine)

# Plot top products by revenue
plt.figure(figsize=(10, 6))
sns.barplot(data=product_data, x='total_revenue', y='product_name', palette='Blues_d')

# Add labels and title
plt.title('Top 10 Products by Revenue')
plt.xlabel('Total Revenue ($)')
plt.ylabel('Product')

plt.tight_layout()
plt.show()